$main-color: darkblue;
$secondary-color: lightskyblue;
$main-text-color: white;

$header-background-color: $main-color;
$header-text-color: $main-text-color;
$header-text-hover-color: lightskyblue;

$chart-background-color: $main-text-color;

$error-text-color: red;

$button-color: $main-color;
$button-hover-color: $secondary-color;
$button-text-color: $main-text-color;

$filter-border-color: lightgray;
