@import "../../resources/css-variables.scss";

.tooltip {
  position: fixed;
  pointer-events: none;
  padding: 0.75em;
  box-sizing: border-box;
  background-color: $chart-background-color;
  border-radius: 0.5em;
  box-shadow: 0 0.25em 1em 0 rgba(0, 0, 0, 0.15);
  animation: fade-in 0.25s linear;
  font-size: 0.9em;
}

.tooltip__title {
  display: block;
  margin-bottom: 0.5em;
  font-weight: bold;
}

.bar-chart-info {
  height: 60px;
}

.bar-chart-g {
  font-size: 7px !important;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.9) translate(-0.5em, -0.5em);
  }
  to {
    opacity: 1;
    transform: scale(1) translate(0, 0);
  }
}
