@import "../../resources/css-variables.scss";

header {
  height: 54px;
  background-color: $header-background-color;
  position: relative;
}

.header__title {
  color: $header-text-color;
  position: absolute;
  top: 25%;
  left: 20px;
}

.header__title-icon {
  width: 30px;
  margin-right: 10px;
}

.header__buttons {
  padding-top: 13px;
  text-align: right;
}

.header__link {
  color: $header-text-color;
  text-decoration: none;
  padding-right: 20px;

  &:hover {
    color: $header-text-hover-color;
  }
}
