@import "../resources/css-variables.scss";

.movie-details {
  padding: 20px;
}

.movie-details__subtitle {
  text-align: left;
}

.movie-details__img {
  width: 100%;
}

.movie-details__text {
  line-height: 1.5;
}

.movie-details__rate {
  margin-top: 20px;
}

.movie-details__rate-error {
  color: $error-text-color;
}
