@import "../../resources/css-variables.scss";

.filters-container {
  margin-bottom: 25px;
  border-bottom: 1px solid $filter-border-color;
}

.filters__btn button,
label.filters__checkbox {
  background-color: $button-color !important;
}
